*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}
html {
    scroll-behavior: smooth;
}

#navbar{
    height: 10vh;
    background-color: brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navbar > a{
    color :white;
    text-decoration: none;
    text-transform: uppercase;
}
section{
    height: 100vh;
    width: 100vw;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}